<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono');

      body {
        font-family: 'Open Sans', sans-serif;
      }
      h1, h2, h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
      }
      .remark-code, .remark-inline-code {
        font-family: 'Ubuntu Mono', monospace;
        background-color: #f8f8f8;
      }

      blockquote {
        color: #6a737d;
      }

      td {
        padding: 2px;
      }
    </style>
  </head>
<body>
  {{ content }}
</body>
</html>
